In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

pd.options.mode.chained_assignment = None
data = pd.read_csv("ks-projects-201801_1.csv")

C:\Users\tkim0\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
total_data = pd.concat([data])
total_data = total_data.iloc[:, 1:15]
total_data = total_data.rename(columns = {'usd pledged' : 'usd_pledged'})

# 행에 하나라도 na값이 있으면 행 삭제
total_data = total_data.dropna()

#필요없는 (중복되는) 열 삭제
total_data = total_data.drop('goal', 1)
total_data = total_data.drop('pledged', 1)
total_data = total_data.drop('usd_pledged', 1)

#goal에 대한 변수: usd_goal_real
#pledged에 대한 변수: usd_pledged_real
total_data = total_data.drop_duplicates(['name'])

# state열에 canceled, failed, live, successful, suspended가 있는 행만 추려내는 방식으로 고르기
state = ['canceled', 'failed', 'live', 'successful', 'suspended']
total_data = total_data.loc[total_data['state'].isin(state)]

# 뒤의 시간은 없애고 날짜 형식으로 변환
#total_data['deadline'] = pd.to_datetime(total_data['deadline'], format = "%Y/%m/%d").dt.date
total_data['deadline'] = pd.to_datetime(total_data['deadline'], format='%Y-%m-%d %H:%M:%S')

#total_data['launched'] = pd.to_datetime(total_data['launched'], format = "%Y/%m/%d").dt.date
total_data['launched'] = pd.to_datetime(total_data['launched'], format='%Y-%m-%d %H:%M:%S')

# deadline - launched 를 계산하여 지속 기간 계산
total_data['duration_days'] = (total_data['deadline'] - total_data['launched']).dt.days  

data_copy = total_data.copy() # 데이터 원본 복제

# eda를 위한 데이터프레임 생성
df = data_copy[~(data_copy.duration_days > 120)] # eda를 위한 데이터프레임 생성

usd_goal = df.usd_goal_real
usd_goal = pd.Series(usd_goal)
usd_goal = pd.to_numeric(usd_goal)
usd_goal = pd.DataFrame(usd_goal).astype(int)
df.usd_goal_real = usd_goal# goal을 완전한 숫자형으로 변환후 치환

backers = df.backers
backers = pd.to_numeric(backers)
backers = pd.DataFrame(backers).astype(int)
df.backers = backers

usd_pledged_real = df.usd_pledged_real
usd_pledged_real = pd.to_numeric(usd_pledged_real)
usd_pledged_real = pd.DataFrame(usd_pledged_real).astype(int)
df.usd_pledged_real = usd_pledged_real

#feature 값들을 log scale로 변환
df['log_backers'] = np.log1p(df.backers)
df['log_usd_goal'] = np.log1p(df.usd_goal_real)
df['log_usd_pledged'] = np.log1p(df.usd_pledged_real)

#state는 successful, failed, canceled만 보겠다.
#df_projects = df[(df['state'] == 'failed') | (df['state'] == 'successful') | (df['state'] == 'canceled')]
df_projects = df[(df['state'] == 'failed') | (df['state'] == 'successful')]

#각 state를 숫자로 변환
df_projects["state"] = df_projects["state"].astype('category')
df_projects["state"] = df_projects["state"].cat.codes
#canceled = 0, failed = 1, successful = 2

## creating and refining our features

In [4]:
#goal이 0인 project의 data는 삭제한다
(df.usd_goal_real == 0).value_counts()

False    371234
True         37
Name: usd_goal_real, dtype: int64

In [5]:
(df_projects[df_projects['backers'] <= 1].state == 1).value_counts()
#후원자가 0 ~ 1명인데 성공한 프로젝트 개수가 333개임 
#-> 자신이 등록하고 자기가 후원해서 성공시킨 프로젝트일 수 있으므로 삭제

False    67305
True       335
Name: state, dtype: int64

In [6]:
(df_projects['duration_days'] == 0).value_counts()
#duration days가 0인 data 지운다

False    328347
True         92
Name: duration_days, dtype: int64

In [7]:
#위에서 이상하다고 판단한 data 지우기

df_projects = df_projects[(df_projects.usd_goal_real >= 1)]
#37개의 data 지운다

df_projects = df_projects[ ~( (df_projects['backers'] <= 1) & (df_projects['state'] == 1) ) ]
#333개의 project data 지운다

df_projects = df_projects[(df_projects.duration_days >= 1)]
#84개 지움

In [8]:
# name에 대한 변수들 생성한다
# 프로젝트 이름이 얼마나 긴지, 단어 수는 몇개인지도 성공에 영향을 미치지 않을까 하는 생각에서 변수 생성했다
df_projects['name_len'] = df_projects.name.str.len()
df_projects['name_words'] = df_projects.name.apply(lambda x: len(str(x).split(' ')))

In [9]:
# 각 프로젝트의 lanched 변수를 통해 몇 분기, 몇 월, 몇 년도에 시작한 프로젝트인지 알 수 있도록 변수생성
df_projects['launched_quarter']= df_projects['launched'].dt.quarter
df_projects['launched_month']= df_projects['launched'].dt.month
df_projects['launched_year']= df_projects['launched'].dt.year
df_projects['launched_week']= df_projects['launched'].dt.week

In [10]:
#goal, backers, pledged로 부터 추가적인 변수 생성

#나눌때 0으로 나누지 않도록 backers = 0인 것은 1로 바꿈(backers 1이하인데 성공인 것은 이미 지웠다.)
df_projects.loc[df_projects['backers'] == 0, 'backers'] = 1

#1명의 후원자 당 후원금액을 추가 변수로 생성
df_projects.loc[:,'pledge_per_backer'] = df_projects['usd_pledged_real'] / df_projects['backers']

#프로젝트에 대해 설정한 goal을 얼마나 달성했느냐 에 대한 변수 생성
df_projects.loc[:,'goal_achieve_rate'] = df_projects['usd_pledged_real'] / df_projects['usd_goal_real']

In [11]:
#will create percentile buckets for the goal amount in a category
#카테고리를 goal
df_projects['goal_cat_perc'] =  df_projects.groupby(['category'])['usd_goal_real'].transform(
                     lambda x: pd.qcut(x, [0, .35, .70, 1.0], labels =[1,2,3]))

#will create percentile buckets for the duration in a category
df_projects['duration_cat_perc'] =  df_projects.groupby(['category'])['duration_days'].transform(
                     lambda x: pd.qcut(x, [0, .35, .70, 1.0], labels =False, duplicates='drop'))

In [12]:
#creating a metric to see number of competitors for a given project in a given quarter
#number of participants in a given category, that launched in the same year and quarter and in the same goal bucket
ks_particpants_qtr=df_projects.groupby(['category','launched_year','launched_quarter','goal_cat_perc']).count()
ks_particpants_qtr=ks_particpants_qtr[['name']]
#since the above table has all group by columns created as index, converting them into columns
ks_particpants_qtr.reset_index(inplace=True)

#creating a metric to see number of competitors for a given project in a given month
#number of participants in a given category, that launched in the same year and month and in the same goal bucket
ks_particpants_mth=df_projects.groupby(['category','launched_year','launched_month','goal_cat_perc']).count()
ks_particpants_mth=ks_particpants_mth[['name']]
#since the above table has all group by columns created as index, converting them into columns
ks_particpants_mth.reset_index(inplace=True)

#creating a metric to see number of competitors for a given project in a given week
#number of participants in a given category, that launched in the same year and week and in the same goal bucket
ks_particpants_wk=df_projects.groupby(['category','launched_year','launched_week','goal_cat_perc']).count()
ks_particpants_wk=ks_particpants_wk[['name']]
#since the above table has all group by columns created as index, converting them into columns
ks_particpants_wk.reset_index(inplace=True)

In [13]:
#renaming columns of the derived table
colmns_qtr=['category', 'launched_year', 'launched_quarter', 'goal_cat_perc', 'participants_qtr']
ks_particpants_qtr.columns=colmns_qtr

colmns_mth=['category', 'launched_year', 'launched_month', 'goal_cat_perc', 'participants_mth']
ks_particpants_mth.columns=colmns_mth

colmns_wk=['category', 'launched_year', 'launched_week', 'goal_cat_perc', 'participants_wk']
ks_particpants_wk.columns=colmns_wk

In [14]:
#merging the particpants column into the base table
df_projects = pd.merge(df_projects, ks_particpants_qtr, on = ['category', 'launched_year', 'launched_quarter','goal_cat_perc'], how = 'left')
df_projects = pd.merge(df_projects, ks_particpants_mth, on = ['category', 'launched_year', 'launched_month','goal_cat_perc'], how = 'left')
df_projects = pd.merge(df_projects, ks_particpants_wk, on = ['category', 'launched_year', 'launched_week','goal_cat_perc'], how = 'left')

In [15]:
#creating 2 metrics to get average pledge per backer for a category in a year according to the goal bucket it lies in and the success rate ie average pledged to goal ratio for the category and goal bucket in this year
#using pledge_per_backer (computed earlier) and averaging it by category in a launch year
ks_ppb_goal=pd.DataFrame(df_projects.groupby(['category','launched_year','goal_cat_perc'])['pledge_per_backer','goal_achieve_rate'].mean())
#since the above table has all group by columns created as index, converting them into columns
ks_ppb_goal.reset_index(inplace=True)
#renaming column
ks_ppb_goal.columns= ['category','launched_year','goal_cat_perc','avg_ppb_goal','avg_success_rate_goal']

#creating a metric: the success rate ie average pledged to goal ratio for the category in this year
ks_ppb_duration=pd.DataFrame(df_projects.groupby(['category','launched_year','duration_cat_perc'])['goal_achieve_rate'].mean())
#since the above table has all group by columns created as index, converting them into columns
ks_ppb_duration.reset_index(inplace=True)
#renaming column
ks_ppb_duration.columns= ['category','launched_year','duration_cat_perc','avg_success_rate_duration']

In [16]:
#merging the particpants column into the base table
df_projects = pd.merge(df_projects, ks_ppb_goal, on = ['category', 'launched_year','goal_cat_perc'], how = 'left')
df_projects = pd.merge(df_projects, ks_ppb_duration, on = ['category', 'launched_year','duration_cat_perc'], how = 'left')

In [17]:
#creating 2 metrics: mean and median goal amount
median_goal_cat=pd.DataFrame(df_projects.groupby(['category','launched_year','duration_cat_perc'])['usd_goal_real'].median())
#since the above table has all group by columns created as index, converting them into columns
median_goal_cat.reset_index(inplace=True)
#renaming column
median_goal_cat.columns= ['category','launched_year','duration_cat_perc','median_goal_year']

mean_goal_cat=pd.DataFrame(df_projects.groupby(['category','launched_year','duration_cat_perc'])['usd_goal_real'].mean())
#since the above table has all group by columns created as index, converting them into columns
mean_goal_cat.reset_index(inplace=True)
#renaming column
mean_goal_cat.columns= ['category','launched_year','duration_cat_perc','mean_goal_year']

In [18]:
#merging the particpants column into the base table
df_projects = pd.merge(df_projects, median_goal_cat, on = ['category', 'launched_year','duration_cat_perc'], how = 'left')
df_projects = pd.merge(df_projects, mean_goal_cat, on = ['category', 'launched_year','duration_cat_perc'], how = 'left')

In [19]:
# replacing all 'N,0"' values in the country column with 'NZERO' to avoid discrepancies while one hot encoding
df_projects = df_projects.replace({'country': 'N,0"'}, {'country': 'NZERO'}, regex=True)

In [20]:
#selecting the needed fields only
#this will lead to the final features list

#creating a list of columns to be dropped
drop_columns= ['name','launched','deadline','backers','usd_pledged_real','pledge_per_backer','goal_achieve_rate', 'log_backers', 'log_usd_pledged']
#dropping columns above
df_projects.drop(drop_columns, axis=1, inplace=True)

In [21]:
#these functions will be used on the textual column entries to remove '&','-' or white spaces
def replace_ampersand(val):
    if isinstance(val, str):
        return(val.replace('&', 'and'))
    else:
        return(val)

def replace_hyphen(val):
    if isinstance(val, str):
        return(val.replace('-', '_'))
    else:
        return(val)    
    
def remove_extraspace(val):
        if isinstance(val, str):
            return(val.strip())
        else:
            return(val) 

def replace_space(val):
        if isinstance(val, str):
            return(val.replace(' ', '_'))
        else:
            return(val)

In [22]:
#apply those functions to all cat columns
#this will remove special characters from the character columns.
#Since these fields will be one-hot encoded, the column names so derived should be compatible with the requied format
df_projects['category'] = df_projects['category'].apply(remove_extraspace)
df_projects['category'] = df_projects['category'].apply(replace_ampersand)
df_projects['category'] = df_projects['category'].apply(replace_hyphen)
df_projects['category'] = df_projects['category'].apply(replace_space)

df_projects['main_category'] = df_projects['main_category'].apply(remove_extraspace)
df_projects['main_category'] = df_projects['main_category'].apply(replace_ampersand)
df_projects['main_category'] = df_projects['main_category'].apply(replace_hyphen)
df_projects['main_category'] = df_projects['main_category'].apply(replace_space)

In [23]:
list(df_projects)

['category',
 'main_category',
 'currency',
 'state',
 'country',
 'usd_goal_real',
 'duration_days',
 'log_usd_goal',
 'name_len',
 'name_words',
 'launched_quarter',
 'launched_month',
 'launched_year',
 'launched_week',
 'goal_cat_perc',
 'duration_cat_perc',
 'participants_qtr',
 'participants_mth',
 'participants_wk',
 'avg_ppb_goal',
 'avg_success_rate_goal',
 'avg_success_rate_duration',
 'median_goal_year',
 'mean_goal_year']

In [24]:
#creating a backup copy of the dataset
df_projects_copied= df_projects.copy()

df_projects_copied[:5]

,category,main_category,currency,state,country,usd_goal_real,duration_days,log_usd_goal,name_len,name_words,...,goal_cat_perc,duration_cat_perc,participants_qtr,participants_mth,participants_wk,avg_ppb_goal,avg_success_rate_goal,avg_success_rate_duration,median_goal_year,mean_goal_year
0,Poetry,Publishing,GBP,0,GB,1533,58,7.335634,31,6,...,2,2,16.0,5.0,2.0,31.546311,0.470729,0.424653,2000.0,14978.409836
1,Narrative_Film,Film_and_Video,USD,0,US,30000,59,10.308986,45,8,...,3,2,9.0,3.0,2.0,144.423276,0.575384,0.571198,8517.5,76431.650000
2,Narrative_Film,Film_and_Video,USD,0,US,45000,44,10.714440,14,3,...,3,2,78.0,28.0,3.0,159.083334,0.327343,0.533343,25000.0,364115.292135
3,Music,Music,USD,0,US,5000,29,8.517393,49,7,...,2,0,289.0,111.0,24.0,67.586157,0.796357,1.816775,3500.0,7125.419309
4,Restaurants,Food,USD,1,US,50000,34,10.819798,20,3,...,2,1,57.0,17.0,3.0,87.059456,0.225394,0.488309,20000.0,44310.723404

In [25]:
for c in df_projects.columns:
    col_type = df_projects[c].dtype
    if col_type == 'object' :
        a=df_projects[c].unique()
        keys= range(a.shape[0])
        diction={}
        for idx,val in enumerate(a):
            diction[idx] = a[idx]
        diction = {v: k for k, v in diction.items()}
        print(diction)
        df_projects_copied[c] = [diction[item] for item in df_projects_copied[c]] 
        df_projects_copied[c] = df_projects_copied[c].astype('category')

{'Poetry': 0, 'Narrative_Film': 1, 'Music': 2, 'Restaurants': 3, 'Food': 4, 'Drinks': 5, 'Nonfiction': 6, 'Indie_Rock': 7, 'Crafts': 8, 'Games': 9, 'Tabletop_Games': 10, 'Design': 11, 'Comic_Books': 12, 'Art_Books': 13, 'Fashion': 14, 'Childrenswear': 15, 'Theater': 16, 'Comics': 17, 'DIY': 18, 'Webseries': 19, 'Animation': 20, 'Food_Trucks': 21, 'Product_Design': 22, 'Public_Art': 23, 'Documentary': 24, 'Illustration': 25, 'Photography': 26, 'Pop': 27, 'People': 28, 'Art': 29, 'Family': 30, 'Fiction': 31, 'Film_and_Video': 32, 'Accessories': 33, 'Rock': 34, 'Hardware': 35, 'Software': 36, 'Weaving': 37, 'Web': 38, 'Jazz': 39, 'Ready_to_wear': 40, 'Festivals': 41, 'Video_Games': 42, 'Anthologies': 43, 'Publishing': 44, 'Shorts': 45, 'Gadgets': 46, 'Electronic_Music': 47, 'Radio_and_Podcasts': 48, 'Cookbooks': 49, 'Apparel': 50, 'Metal': 51, 'Comedy': 52, 'Hip_Hop': 53, 'Periodicals': 54, 'Dance': 55, 'Technology': 56, 'Painting': 57, 'World_Music': 58, 'Photobooks': 59, 'Drama': 60, 'Architecture': 61, 'Young_Adult': 62, 'Latin': 63, 'Mobile_Games': 64, 'Flight': 65, 'Fine_Art': 66, 'Action': 67, 'Playing_Cards': 68, 'Makerspaces': 69, 'Punk': 70, "Children's_Books": 71, 'Apps': 72, 'Audio': 73, 'Performance_Art': 74, 'Ceramics': 75, 'Vegan': 76, 'Graphic_Novels': 77, 'Fabrication_Tools': 78, 'Performances': 79, 'Sculpture': 80, 'Sound': 81, 'Stationery': 82, 'Print': 83, "Farmer's_Markets": 84, 'Thrillers': 85, 'Events': 86, 'Classical_Music': 87, 'Graphic_Design': 88, 'Spaces': 89, 'Country_and_Folk': 90, 'Wearables': 91, 'Journalism': 92, 'Mixed_Media': 93, 'Movie_Theaters': 94, 'Animals': 95, 'Digital_Art': 96, 'Knitting': 97, 'Installations': 98, 'Community_Gardens': 99, 'DIY_Electronics': 100, 'Embroidery': 101, 'Camera_Equipment': 102, 'Jewelry': 103, 'Farms': 104, 'Conceptual_Art': 105, 'Fantasy': 106, 'Webcomics': 107, 'Horror': 108, 'Experimental': 109, 'Science_Fiction': 110, 'Puzzles': 111, 'RandB': 112, 'Music_Videos': 113, 'Video': 114, 'Plays': 115, 'Blues': 116, 'Bacon': 117, 'Faith': 118, 'Live_Games': 119, 'Small_Batch': 120, 'Woodworking': 121, 'Places': 122, 'Footwear': 123, '3D_Printing': 124, 'Zines': 125, 'Musical': 126, 'Workshops': 127, 'Photo': 128, 'Immersive': 129, 'Letterpress': 130, 'Academic': 131, 'Candles': 132, 'Television': 133, 'Space_Exploration': 134, 'Gaming_Hardware': 135, 'Nature': 136, 'Robots': 137, 'Typography': 138, 'Translations': 139, 'Calendars': 140, 'Textiles': 141, 'Pottery': 142, 'Interactive_Design': 143, 'Video_Art': 144, 'Glass': 145, 'Pet_Fashion': 146, 'Crochet': 147, 'Printing': 148, 'Romance': 149, 'Civic_Design': 150, 'Kids': 151, 'Literary_Journals': 152, 'Couture': 153, 'Taxidermy': 154, 'Quilts': 155, 'Chiptune': 156, 'Residencies': 157, 'Literary_Spaces': 158}
{'Publishing': 0, 'Film_and_Video': 1, 'Music': 2, 'Food': 3, 'Crafts': 4, 'Games': 5, 'Design': 6, 'Comics': 7, 'Fashion': 8, 'Theater': 9, 'Art': 10, 'Photography': 11, 'Technology': 12, 'Dance': 13, 'Journalism': 14}
{'GBP': 0, 'USD': 1, 'CAD': 2, 'AUD': 3, 'NOK': 4, 'EUR': 5, 'MXN': 6, 'SEK': 7, 'NZD': 8, 'CHF': 9, 'DKK': 10, 'HKD': 11, 'SGD': 12, 'JPY': 13}
{'GB': 0, 'US': 1, 'CA': 2, 'AU': 3, 'NO': 4, 'IT': 5, 'DE': 6, 'IE': 7, 'MX': 8, 'ES': 9, 'SE': 10, 'FR': 11, 'NZ': 12, 'CH': 13, 'AT': 14, 'BE': 15, 'DK': 16, 'HK': 17, 'NL': 18, 'LU': 19, 'SG': 20, 'JP': 21}

In [26]:
# One-Hot encoding to convert categorical columns to numeric
print('start one-hot encoding')

df_projects_ip = pd.get_dummies(df_projects, prefix = [ 'category', 'main_category', 'currency','country'],
                             columns = [ 'category', 'main_category', 'currency','country'])
    
#this will have created 1-0 flag columns (like a sparse matrix)
print('ADS dummy columns made')

start one-hot encoding
ADS dummy columns made

In [27]:
#creating 2 arrays: features and response

#features will have all independent variables
features=list(df_projects_ip)
features.remove('state')
#response has the target variable
y_state= ['state']

In [28]:
#creating a backup copy of the input dataset
df_projects_ip_copy= df_projects_ip.copy()

In [29]:
df_projects_ip[:5]

,state,usd_goal_real,duration_days,log_usd_goal,name_len,name_words,launched_quarter,launched_month,launched_year,launched_week,...,country_IT,country_JP,country_LU,country_MX,country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,0,1533,58,7.335634,31,6,3,8,2015,33,...,0,0,0,0,0,0,0,0,0,0
1,0,30000,59,10.308986,45,8,3,9,2017,35,...,0,0,0,0,0,0,0,0,0,1
2,0,45000,44,10.714440,14,3,1,1,2013,2,...,0,0,0,0,0,0,0,0,0,1
3,0,5000,29,8.517393,49,7,1,3,2012,11,...,0,0,0,0,0,0,0,0,0,1
4,1,50000,34,10.819798,20,3,1,2,2016,8,...,0,0,0,0,0,0,0,0,0,1

In [30]:
from sklearn import preprocessing

# 각 피쳐의 값을 normalize 한다. usd_goal_real의 경우 값이 10000단위로 존재하는데 다른 변수 중 10미만의 값을
#가진 변수가 많다. 분류 모델에 적용할 input data는 정규화된 data이어야 한다.
df_projects_ip_scaled_ftrs = pd.DataFrame(preprocessing.normalize(df_projects_ip[features]))
df_projects_ip_scaled_ftrs.columns=list(df_projects_ip[features])

In [31]:
df_projects_ip_scaled_ftrs[:3]

,usd_goal_real,duration_days,log_usd_goal,name_len,name_words,launched_quarter,launched_month,launched_year,launched_week,goal_cat_perc,...,country_IT,country_JP,country_LU,country_MX,country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,0.100051,0.003785,0.000479,0.002023,0.000392,0.000196,0.000522,0.131508,0.002154,0.000131,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.363311,0.000715,0.000125,0.000545,0.000097,0.000036,0.000109,0.024427,0.000424,0.000036,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000012
2,0.122368,0.000120,0.000029,0.000038,0.000008,0.000003,0.000003,0.005474,0.000005,0.000008,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn import model_selection
import math

In [33]:
#creating test and train dependent and independent variables
#Split the data into test and train (30-70: random sampling)
#will be using the scaled dataset to split 
train_x, test_x, train_y, test_y = train_test_split(df_projects_ip_scaled_ftrs, df_projects_ip[y_state], test_size=0.3, random_state=0)

In [34]:
features_count = train_x.shape[1]

parameters_rf = {'n_estimators':[50], 'max_depth':[20], 'max_features': 
                     [math.floor(np.sqrt(features_count)), math.floor(features_count/3)]}

def random_forest_classifier(features, target):
    """
    To train the random forest classifier with features and target data
    :param features:
    :param target:
    :return: trained random forest classifier
    """
    clf = RandomForestClassifier(n_estimators=50,criterion='gini' ,max_depth=20, max_features=2)
    clf.fit(features, target)
    return clf

In [35]:
trained_model_RF= random_forest_classifier(train_x[features], train_y[y_state])

C:\Users\tkim0\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [36]:
# Predict the on the train_data
test_x["Pred_state_RF"] = trained_model_RF.predict(test_x[features])

# Predict the on the train_data
train_x["Pred_state_RF"] = trained_model_RF.predict(train_x[features])

# Predict the on the train_data
df_projects_ip["Pred_state_RF"] = trained_model_RF.predict(df_projects_ip_scaled_ftrs)

In [37]:
# Train and Test Accuracy
print ("Train Accuracy :: ", accuracy_score(train_y[y_state], trained_model_RF.predict(train_x[features])))
print ("Test Accuracy  :: ", accuracy_score(test_y[y_state], trained_model_RF.predict(test_x[features])))
print ("Complete Accuracy  :: ", accuracy_score(df_projects_ip[y_state], trained_model_RF.predict(df_projects_ip_scaled_ftrs)))
print (" Confusion matrix of complete data is", confusion_matrix(df_projects_ip[y_state],df_projects_ip["Pred_state_RF"]))

Train Accuracy ::  0.6888011986271538
Test Accuracy  ::  0.6555351172268011
Complete Accuracy  ::  0.678821323495785
 Confusion matrix of complete data is [[178198  17468]
 [ 87877  44452]]

In [155]:
## Feature importances
ftr_imp_rf=zip(features,trained_model_RF.feature_importances_)
for values in ftr_imp_rf:
    print(values)

('usd_goal_real', 0.026451039219868747)
('duration_days', 0.03739312119896577)
('log_usd_goal', 0.03573033350742481)
('name_len', 0.05725710280631455)
('name_words', 0.04313366730288019)
('launched_quarter', 0.020699201923999353)
('launched_month', 0.02674123513501449)
('launched_year', 0.04133427765127915)
('launched_week', 0.018548889417573645)
('goal_cat_perc', 0.015296723869199504)
('duration_cat_perc', 0.009152935133932269)
('participants_qtr', 0.043135119460748814)
('participants_mth', 0.03670777847869208)
('participants_wk', 0.03888409874839494)
('avg_ppb_goal', 0.04218731510884563)
('avg_success_rate_goal', 0.07016489244922992)
('avg_success_rate_duration', 0.05176906464212117)
('median_goal_year', 0.047709107072692325)
('mean_goal_year', 0.026858088718907193)
('category_3D_Printing', 0.00014159378160141784)
('category_Academic', 0.00018661318777005157)
('category_Accessories', 0.00046209217935960653)
('category_Action', 0.00014606200949600817)
('category_Animals', 0.00017214683983442697)
('category_Animation', 0.00034654992308104994)
('category_Anthologies', 0.0006160787622628689)
('category_Apparel', 0.0040306663931090475)
('category_Apps', 0.009906548975091141)
('category_Architecture', 5.806301779381853e-05)
('category_Art', 0.0014048667285871215)
('category_Art_Books', 0.001513078759940653)
('category_Audio', 0.00012616141949261479)
('category_Bacon', 0.00010256506085083467)
('category_Blues', 8.377599349267988e-05)
('category_Calendars', 0.000161762340317426)
('category_Camera_Equipment', 0.00020765174671632828)
('category_Candles', 0.00018498454620472608)
('category_Ceramics', 0.00013399700718740655)
("category_Children's_Books", 0.0011527561612544386)
('category_Childrenswear', 0.0002627228595219558)
('category_Chiptune', 3.092282258788635e-05)
('category_Civic_Design', 0.00010470848390654901)
('category_Classical_Music', 0.001810973753182528)
('category_Comedy', 0.0002637969815353411)
('category_Comic_Books', 0.0016600109220425334)
('category_Comics', 0.0017606091615437224)
('category_Community_Gardens', 0.00013468375722948452)
('category_Conceptual_Art', 0.00025600572537735417)
('category_Cookbooks', 0.0001401654591828037)
('category_Country_and_Folk', 0.008550717055204904)
('category_Couture', 0.00019501596090035927)
('category_Crafts', 0.0017914512283629764)
('category_Crochet', 0.0002705926805879657)
('category_DIY', 0.0006006217424670972)
('category_DIY_Electronics', 0.00033146143630003887)
('category_Dance', 0.0031725108289314898)
('category_Design', 0.0006300339213242141)
('category_Digital_Art', 0.0003420359103416238)
('category_Documentary', 0.001769283241766733)
('category_Drama', 0.00041059355183239)
('category_Drinks', 0.0003034406993470189)
('category_Electronic_Music', 0.00032810762826178896)
('category_Embroidery', 9.169219737862905e-05)
('category_Events', 0.0002503826485815397)
('category_Experimental', 8.67279014261628e-05)
('category_Fabrication_Tools', 4.2642798493685156e-05)
('category_Faith', 0.00034714726977628894)
('category_Family', 8.717988506707436e-05)
('category_Fantasy', 3.7701777801576344e-05)
("category_Farmer's_Markets", 0.00019748963590033767)
('category_Farms', 0.0002551620773363611)
('category_Fashion', 0.00266003857327419)
('category_Festivals', 0.0009452960900898546)
('category_Fiction', 0.004479368003882803)
('category_Film_and_Video', 0.0007990696654969478)
('category_Fine_Art', 0.00029822428702247326)
('category_Flight', 0.0002505938069383979)
('category_Food', 0.0029401436849785774)
('category_Food_Trucks', 0.0020958441860837607)
('category_Footwear', 0.00022774244654029754)
('category_Gadgets', 0.00015154236395650887)
('category_Games', 0.00033894332534703504)
('category_Gaming_Hardware', 8.785168649806305e-05)
('category_Glass', 6.43701878526172e-05)
('category_Graphic_Design', 0.0006776949199455871)
('category_Graphic_Novels', 0.0003966050027428789)
('category_Hardware', 0.000560726632739879)
('category_Hip_Hop', 0.0032738958701251323)
('category_Horror', 0.00017107734188877898)
('category_Illustration', 0.0023428606711200003)
('category_Immersive', 0.00018226352520939624)
('category_Indie_Rock', 0.006073465170712955)
('category_Installations', 0.00015896262804326224)
('category_Interactive_Design', 0.00012209584212652614)
('category_Jazz', 0.0010724868456193262)
('category_Jewelry', 0.0002922777139427801)
('category_Journalism', 0.00035583263592030214)
('category_Kids', 0.00014094812678083402)
('category_Knitting', 4.864102194992005e-05)
('category_Latin', 6.391404688603044e-05)
('category_Letterpress', 3.425230474626662e-05)
('category_Literary_Journals', 9.41288291133033e-05)
('category_Literary_Spaces', 2.183571452125066e-05)
('category_Live_Games', 0.0004149403672534172)
('category_Makerspaces', 4.707982983751681e-05)
('category_Metal', 0.0002651510379515764)
('category_Mixed_Media', 0.000291947006458766)
('category_Mobile_Games', 0.0040380283349898015)
('category_Movie_Theaters', 6.253743808638877e-06)
('category_Music', 0.004300314147585669)
('category_Music_Videos', 0.00014210395512151788)
('category_Musical', 0.0006806559391586409)
('category_Narrative_Film', 0.0014490829038923756)
('category_Nature', 0.0005114149754464119)
('category_Nonfiction', 0.002603003149982217)
('category_Painting', 0.0006874746671635925)
('category_People', 0.0004667383957849165)
('category_Performance_Art', 0.00034788890544029764)
('category_Performances', 0.0007380882966508832)
('category_Periodicals', 0.00020424408000194668)
('category_Pet_Fashion', 4.220655593062499e-05)
('category_Photo', 0.00023589422458697242)
('category_Photobooks', 0.000466632857533973)
('category_Photography', 0.0008375367453701929)
('category_Places', 0.0005661141583343888)
('category_Playing_Cards', 0.0007817084754089041)
('category_Plays', 0.00132239447577104)
('category_Poetry', 0.00032254985729198446)
('category_Pop', 0.0014079545501644308)
('category_Pottery', 5.5290070584023456e-05)
('category_Print', 0.00011884334972581303)
('category_Printing', 7.502799342443111e-05)
('category_Product_Design', 0.0013749498114026498)
('category_Public_Art', 0.0022240668221896356)
('category_Publishing', 0.0011237573729014991)
('category_Punk', 0.00018172828156878888)
('category_Puzzles', 6.803647199258351e-05)
('category_Quilts', 4.8012436820499586e-05)
('category_Radio_and_Podcasts', 0.0002683568169713643)
('category_RandB', 0.00023958596096023684)
('category_Ready_to_wear', 0.0006484549799420638)
('category_Residencies', 5.285461105507816e-05)
('category_Restaurants', 0.0020574693613444168)
('category_Robots', 0.00018393390205772322)
('category_Rock', 0.0011409282589682497)
('category_Romance', 6.137700671617044e-05)
('category_Science_Fiction', 0.00020945730720192207)
('category_Sculpture', 0.0004857063510916404)
('category_Shorts', 0.004701465922306617)
('category_Small_Batch', 0.00039099165763153856)
('category_Software', 0.0016136094559111498)
('category_Sound', 0.00020544014246399133)
('category_Space_Exploration', 9.405520110413906e-05)
('category_Spaces', 0.00026330161128615447)
('category_Stationery', 0.00019070521050120807)
('category_Tabletop_Games', 0.019453071492962846)
('category_Taxidermy', 5.850013501917484e-06)
('category_Technology', 0.0015498710338336158)
('category_Television', 0.0007060588638368117)
('category_Textiles', 6.632154504127191e-05)
('category_Theater', 0.009974268594671992)
('category_Thrillers', 7.864475204539873e-05)
('category_Translations', 5.101520575373382e-05)
('category_Typography', 0.00016032364670271794)
('category_Vegan', 9.565530382512382e-05)
('category_Video', 0.0003698170100574521)
('category_Video_Art', 5.2783709053740065e-05)
('category_Video_Games', 0.0018213981248558456)
('category_Wearables', 0.00023045304087517253)
('category_Weaving', 6.574488757752106e-05)
('category_Web', 0.004506211047155883)
('category_Webcomics', 0.000759231426526524)
('category_Webseries', 0.0006717545064364549)
('category_Woodworking', 0.0007317703369311395)
('category_Workshops', 0.00011467205265424287)
('category_World_Music', 0.0006398692369745493)
('category_Young_Adult', 0.0005116886924518229)
('category_Zines', 0.0003196020908955831)
('main_category_Art', 0.0034213650259269104)
('main_category_Comics', 0.005479982325942949)
('main_category_Crafts', 0.0031906608172709437)
('main_category_Dance', 0.005346900005084119)
('main_category_Design', 0.0018219366660674591)
('main_category_Fashion', 0.008688318834390411)
('main_category_Film_and_Video', 0.008286789885101347)
('main_category_Food', 0.0032178834763467935)
('main_category_Games', 0.00925145784845136)
('main_category_Journalism', 0.0021134663375861774)
('main_category_Music', 0.011611031142781551)
('main_category_Photography', 0.0011842793070426208)
('main_category_Publishing', 0.003421974059582371)
('main_category_Technology', 0.0030064692870842525)
('main_category_Theater', 0.0058604781207121535)
('currency_AUD', 0.001806060591947667)
('currency_CAD', 0.002533791049332888)
('currency_CHF', 0.00030468350075866173)
('currency_DKK', 0.00044094213946605193)
('currency_EUR', 0.0036136144657610003)
('currency_GBP', 0.0037109049946547385)
('currency_HKD', 0.00035386797341985444)
('currency_JPY', 2.8832204451117505e-05)
('currency_MXN', 0.0010561007247380156)
('currency_NOK', 0.0003430780399209)
('currency_NZD', 0.000448278952442811)
('currency_SEK', 0.0005579124942059325)
('currency_SGD', 0.0002299208392278047)
('currency_USD', 0.021498478891956697)
('country_AT', 0.00041376524261191647)
('country_AU', 0.0017508772631532785)
('country_BE', 0.00035162289565041495)
('country_CA', 0.003280811402754063)
('country_CH', 0.00029550683395182775)
('country_DE', 0.0012178672410864647)
('country_DK', 0.0004784391228679986)
('country_ES', 0.0009399168660081846)
('country_FR', 0.0010248666802436853)
('country_GB', 0.0036596227572508154)
('country_HK', 0.0004973721606456074)
('country_IE', 0.0003353550717554881)
('country_IT', 0.002025821500657978)
('country_JP', 6.948070951243444e-06)
('country_LU', 4.991493853038689e-05)
('country_MX', 0.0007789430751039298)
('country_NL', 0.001524796218098618)
('country_NO', 0.0003712756210784001)
('country_NZ', 0.0004205331016402559)
('country_SE', 0.0005491160323066243)
('country_SG', 0.0003052465511203708)
('country_US', 0.014469444896086647)

In [156]:
feature_imp_RF=pd.DataFrame(list(zip(features,trained_model_RF.feature_importances_)))
column_names_RF= ['features','RF_imp']
feature_imp_RF.columns= column_names_RF

In [157]:
feature_imp_RF= feature_imp_RF.sort_values('RF_imp',ascending=False)
feature_imp_RF[:15]

                     features    RF_imp
15      avg_success_rate_goal  0.070165
3                    name_len  0.057257
16  avg_success_rate_duration  0.051769
17           median_goal_year  0.047709
11           participants_qtr  0.043135
4                  name_words  0.043134
14               avg_ppb_goal  0.042187
7               launched_year  0.041334
13            participants_wk  0.038884
1               duration_days  0.037393
12           participants_mth  0.036708
2                log_usd_goal  0.035730
18             mean_goal_year  0.026858
6              launched_month  0.026741
0               usd_goal_real  0.026451

In [158]:
import lightgbm as lgb

In [159]:
#create LGBM classifier model
gbm_model = lgb.LGBMClassifier(
        boosting_type= "dart",
        n_estimators=1300,
        learning_rate=0.08,
        num_leaves=35,
        colsample_bytree=.8,
        subsample=.9,
        max_depth=9,
        reg_alpha=.1,
        reg_lambda=.1,
        min_split_gain=.01
)

# LGBM with one-hot encoded features
#fit the model on training data
gbm_model=gbm_model.fit(train_x[features], 
            train_y[y_state], 
              verbose=0)

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [160]:
# Predict the on the train_data
test_x["Pred_state_LGB"] = gbm_model.predict(test_x[features])

# Predict the on the train_data
train_x["Pred_state_LGB"] = gbm_model.predict(train_x[features])

# Predict the on the train_data
df_projects_ip["Pred_state_LGB"] = gbm_model.predict(df_projects_ip_scaled_ftrs)

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [161]:
# Train and Test Accuracy
print ("Train Accuracy :: ", accuracy_score(train_y[y_state], gbm_model.predict(train_x[features])))
print ("Test Accuracy  :: ", accuracy_score(test_y[y_state], gbm_model.predict(test_x[features])))
print ("Complete Accuracy  :: ", accuracy_score(df_projects_ip[y_state], gbm_model.predict(df_projects_ip_scaled_ftrs)))
print (" Confusion matrix of complete data is", confusion_matrix(df_projects_ip[y_state],df_projects_ip["Pred_state_LGB"]))

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Train Accuracy ::  0.721236432690465

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Test Accuracy  ::  0.6933505421803067

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Complete Accuracy  ::  0.71287062302779
 Confusion matrix of complete data is [[159214  36452]
 [ 57725  74604]]

In [162]:
# classification matrix
print('\nClassification metrics')
print(classification_report(y_true=test_y[y_state], y_pred=test_x["Pred_state_LGB"]))

Classification metrics
             precision    recall  f1-score   support

          0       0.72      0.80      0.76     58470
          1       0.65      0.54      0.59     39929

avg / total       0.69      0.69      0.69     98399

In [163]:
## Feature importances
ftr_imp_lgb=zip(features,gbm_model.feature_importances_)

for values in ftr_imp_lgb:
    print(values)

('usd_goal_real', 2368)
('duration_days', 4531)
('log_usd_goal', 1393)
('name_len', 1832)
('name_words', 2183)
('launched_quarter', 683)
('launched_month', 607)
('launched_year', 694)
('launched_week', 720)
('goal_cat_perc', 441)
('duration_cat_perc', 1386)
('participants_qtr', 1514)
('participants_mth', 992)
('participants_wk', 979)
('avg_ppb_goal', 2051)
('avg_success_rate_goal', 3254)
('avg_success_rate_duration', 2133)
('median_goal_year', 1369)
('mean_goal_year', 1255)
('category_3D_Printing', 0)
('category_Academic', 6)
('category_Accessories', 42)
('category_Action', 33)
('category_Animals', 1)
('category_Animation', 37)
('category_Anthologies', 42)
('category_Apparel', 167)
('category_Apps', 109)
('category_Architecture', 18)
('category_Art', 107)
('category_Art_Books', 28)
('category_Audio', 11)
('category_Bacon', 0)
('category_Blues', 0)
('category_Calendars', 23)
('category_Camera_Equipment', 14)
('category_Candles', 3)
('category_Ceramics', 0)
("category_Children's_Books", 37)
('category_Childrenswear', 1)
('category_Chiptune', 0)
('category_Civic_Design', 3)
('category_Classical_Music', 68)
('category_Comedy', 45)
('category_Comic_Books', 73)
('category_Comics', 36)
('category_Community_Gardens', 1)
('category_Conceptual_Art', 2)
('category_Cookbooks', 10)
('category_Country_and_Folk', 220)
('category_Couture', 2)
('category_Crafts', 19)
('category_Crochet', 3)
('category_DIY', 1)
('category_DIY_Electronics', 4)
('category_Dance', 47)
('category_Design', 51)
('category_Digital_Art', 44)
('category_Documentary', 212)
('category_Drama', 55)
('category_Drinks', 59)
('category_Electronic_Music', 49)
('category_Embroidery', 4)
('category_Events', 7)
('category_Experimental', 52)
('category_Fabrication_Tools', 17)
('category_Faith', 31)
('category_Family', 7)
('category_Fantasy', 5)
("category_Farmer's_Markets", 3)
('category_Farms', 7)
('category_Fashion', 102)
('category_Festivals', 19)
('category_Fiction', 113)
('category_Film_and_Video', 56)
('category_Fine_Art', 13)
('category_Flight', 14)
('category_Food', 137)
('category_Food_Trucks', 8)
('category_Footwear', 9)
('category_Gadgets', 18)
('category_Games', 60)
('category_Gaming_Hardware', 4)
('category_Glass', 0)
('category_Graphic_Design', 29)
('category_Graphic_Novels', 25)
('category_Hardware', 100)
('category_Hip_Hop', 122)
('category_Horror', 8)
('category_Illustration', 19)
('category_Immersive', 8)
('category_Indie_Rock', 128)
('category_Installations', 32)
('category_Interactive_Design', 5)
('category_Jazz', 29)
('category_Jewelry', 8)
('category_Journalism', 21)
('category_Kids', 0)
('category_Knitting', 2)
('category_Latin', 2)
('category_Letterpress', 1)
('category_Literary_Journals', 7)
('category_Literary_Spaces', 0)
('category_Live_Games', 13)
('category_Makerspaces', 1)
('category_Metal', 31)
('category_Mixed_Media', 25)
('category_Mobile_Games', 32)
('category_Movie_Theaters', 1)
('category_Music', 309)
('category_Music_Videos', 9)
('category_Musical', 10)
('category_Narrative_Film', 176)
('category_Nature', 5)
('category_Nonfiction', 108)
('category_Painting', 112)
('category_People', 13)
('category_Performance_Art', 131)
('category_Performances', 29)
('category_Periodicals', 56)
('category_Pet_Fashion', 0)
('category_Photo', 1)
('category_Photobooks', 62)
('category_Photography', 57)
('category_Places', 4)
('category_Playing_Cards', 34)
('category_Plays', 12)
('category_Poetry', 8)
('category_Pop', 25)
('category_Pottery', 0)
('category_Print', 9)
('category_Printing', 0)
('category_Product_Design', 99)
('category_Public_Art', 175)
('category_Publishing', 56)
('category_Punk', 0)
('category_Puzzles', 9)
('category_Quilts', 0)
('category_Radio_and_Podcasts', 24)
('category_RandB', 11)
('category_Ready_to_wear', 5)
('category_Residencies', 0)
('category_Restaurants', 20)
('category_Robots', 4)
('category_Rock', 51)
('category_Romance', 0)
('category_Science_Fiction', 10)
('category_Sculpture', 13)
('category_Shorts', 247)
('category_Small_Batch', 30)
('category_Software', 51)
('category_Sound', 8)
('category_Space_Exploration', 11)
('category_Spaces', 34)
('category_Stationery', 0)
('category_Tabletop_Games', 546)
('category_Taxidermy', 0)
('category_Technology', 60)
('category_Television', 7)
('category_Textiles', 3)
('category_Theater', 222)
('category_Thrillers', 15)
('category_Translations', 0)
('category_Typography', 1)
('category_Vegan', 5)
('category_Video', 3)
('category_Video_Art', 0)
('category_Video_Games', 293)
('category_Wearables', 26)
('category_Weaving', 0)
('category_Web', 80)
('category_Webcomics', 58)
('category_Webseries', 104)
('category_Woodworking', 7)
('category_Workshops', 10)
('category_World_Music', 16)
('category_Young_Adult', 10)
('category_Zines', 21)
('main_category_Art', 93)
('main_category_Comics', 255)
('main_category_Crafts', 208)
('main_category_Dance', 197)
('main_category_Design', 289)
('main_category_Fashion', 500)
('main_category_Film_and_Video', 735)
('main_category_Food', 103)
('main_category_Games', 429)
('main_category_Journalism', 50)
('main_category_Music', 612)
('main_category_Photography', 140)
('main_category_Publishing', 293)
('main_category_Technology', 408)
('main_category_Theater', 584)
('currency_AUD', 100)
('currency_CAD', 184)
('currency_CHF', 8)
('currency_DKK', 52)
('currency_EUR', 255)
('currency_GBP', 272)
('currency_HKD', 21)
('currency_JPY', 0)
('currency_MXN', 93)
('currency_NOK', 9)
('currency_NZD', 19)
('currency_SEK', 45)
('currency_SGD', 27)
('currency_USD', 631)
('country_AT', 18)
('country_AU', 13)
('country_BE', 4)
('country_CA', 40)
('country_CH', 4)
('country_DE', 62)
('country_DK', 9)
('country_ES', 29)
('country_FR', 89)
('country_GB', 34)
('country_HK', 9)
('country_IE', 15)
('country_IT', 131)
('country_JP', 0)
('country_LU', 0)
('country_MX', 23)
('country_NL', 42)
('country_NO', 1)
('country_NZ', 5)
('country_SE', 9)
('country_SG', 3)
('country_US', 130)

In [164]:
feature_imp_lgb=pd.DataFrame(list(zip(features,gbm_model.feature_importances_)))
column_names_lgb= ['features','LGB_imp']
feature_imp_lgb.columns= column_names_lgb

feature_imp_lgb= feature_imp_lgb.sort_values('LGB_imp',ascending=False)
feature_imp_lgb

                         features  LGB_imp
1                   duration_days     4531
15          avg_success_rate_goal     3254
0                   usd_goal_real     2368
4                      name_words     2183
16      avg_success_rate_duration     2133
14                   avg_ppb_goal     2051
3                        name_len     1832
11               participants_qtr     1514
2                    log_usd_goal     1393
10              duration_cat_perc     1386
17               median_goal_year     1369
18                 mean_goal_year     1255
12               participants_mth      992
13                participants_wk      979
184  main_category_Film_and_Video      735
8                   launched_week      720
7                   launched_year      694
5                launched_quarter      683
206                  currency_USD      631
188           main_category_Music      612
6                  launched_month      607
192         main_category_Theater      584
155       category_Tabletop_Games      546
183         main_category_Fashion      500
9                   goal_cat_perc      441
186           main_category_Games      429
191      main_category_Technology      408
109                category_Music      309
167          category_Video_Games      293
190      main_category_Publishing      293
..                            ...      ...
39         category_Childrenswear        1
163           category_Typography        1
53                   category_DIY        1
108       category_Movie_Theaters        1
23               category_Animals        1
100          category_Letterpress        1
121                category_Photo        1
221                    country_LU        0
220                    country_JP        0
19           category_3D_Printing        0
145              category_Romance        0
200                  currency_JPY        0
166            category_Video_Art        0
40              category_Chiptune        0
141          category_Residencies        0
137               category_Quilts        0
154           category_Stationery        0
156            category_Taxidermy        0
135                 category_Punk        0
162         category_Translations        0
37              category_Ceramics        0
83                 category_Glass        0
131             category_Printing        0
169              category_Weaving        0
129              category_Pottery        0
120          category_Pet_Fashion        0
33                 category_Blues        0
32                 category_Bacon        0
97                  category_Kids        0
102      category_Literary_Spaces        0

[229 rows x 2 columns]

In [165]:
df_projects_copied.goal_cat_perc = df_projects_copied.goal_cat_perc.astype('float32')

In [ ]:
#creating features and response list
features_2=list(df_projects_copied)
features_2.remove('state')
features_2_numerical = [e for e in features_2 if e not in ('category','main_category','country','currency')]
features_2_categorical = ['category','main_category','country','currency']
response = ['state']
# Assuming same lines from your example
cols_to_norm = features_2_numerical
df_projects_copied[cols_to_norm] = df_projects_copied[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
#creating test and train dependent and independent variables
#Split the data into test and train (30-70: random sampling)
#will be using the scaled dataset to split 
train_ind_2, test_ind_2, train_dep_2, test_dep_2 = train_test_split(df_projects_copied[features_2],df_projects_copied[response], test_size=0.3, random_state=0)
#create LGBM classifier model
gbm_model_2 = lgb.LGBMClassifier(
        boosting_type= "dart",
        n_estimators=1500,
        learning_rate=0.05,
        num_leaves=38,
        colsample_bytree=.8,
        subsample=.9,
        max_depth=9,
        reg_alpha=.1,
        reg_lambda=.1,
        min_split_gain=.01
)

# LGBM with one-hot encoded features
#fit the model on training data
gbm_model_2=gbm_model_2.fit(train_ind_2[features_2], 
            train_dep_2[response], 
            feature_name=features_2,
            categorical_feature= features_2_categorical,                
              verbose=0)

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\tkim0\Anaconda3\lib\site-packages\lightgbm\basic.py:1188: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['category', 'country', 'currency', 'main_category']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

In [ ]:
# Predict the on the train_data
test_ind_2["Pred_state_LGB"] = gbm_model_2.predict(test_ind_2[features_2])

# Predict the on the train_data
train_ind_2["Pred_state_LGB"] = gbm_model_2.predict(train_ind_2[features_2])

# Predict the on the train_data
df_projects_copied["Pred_state_LGB"] = gbm_model_2.predict(df_projects_copied[features_2])

# Train and Test Accuracy
print ("Train Accuracy :: ", accuracy_score(train_dep_2[response], gbm_model_2.predict(train_ind_2[features_2])))
print ("Test Accuracy  :: ", accuracy_score(test_dep_2[response], gbm_model_2.predict(test_ind_2[features_2])))
print ("Complete Accuracy  :: ", accuracy_score(df_projects_copied[response], gbm_model_2.predict(df_projects_copied[features_2])))
print (" Confusion matrix of complete data is", confusion_matrix(df_projects_copied[response],df_projects_copied["Pred_state_LGB"]))

print('\nClassification metrics')
print(classification_report(y_true=test_dep_2[response], y_pred=gbm_model_2.predict(test_ind_2[features_2])))

In [ ]:
## Feature importances
ftr_imp_lgb_2=zip(features_2,gbm_model_2.feature_importances_)

for values in ftr_imp_lgb_2:
    print(values)

In [ ]:
feature_imp_lgb_2=pd.DataFrame(list(zip(features_2,gbm_model_2.feature_importances_)))
column_names_lgb_2= ['features','LGB_imp_2']
feature_imp_lgb_2.columns= column_names_lgb_2

feature_imp_lgb_2= feature_imp_lgb_2.sort_values('LGB_imp_2',ascending=False)
feature_imp_lgb_2

In [73]:
class LGBMClassifier_GainFE(lgb.LGBMClassifier):
    @property
    def feature_importances_(self):
        if self._n_features is None:
            raise LGBMNotFittedError('No feature_importances found. Need to call fit beforehand.')
        return self.booster_.feature_importance(importance_type='gain')
# defining parameters
lgb_gain = LGBMClassifier_GainFE(boosting_type= "dart",
        n_estimators=1500,
        learning_rate=0.05,
        num_leaves=38,
        colsample_bytree=.8,
        subsample=.9,
        max_depth=9,
        reg_alpha=.1,
        reg_lambda=.1,
        min_split_gain=.01)
#fitting the model
lgb_gain.fit(train_ind_2[features_2], 
            train_dep_2[response], 
            feature_name=features_2,
            categorical_feature= features_2_categorical,                
              verbose=0)

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\tkim0\Anaconda3\lib\site-packages\lightgbm\basic.py:1188: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['category', 'country', 'currency', 'main_category']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

LGBMClassifier_GainFE(boosting_type='dart', class_weight=None,
           colsample_bytree=0.8, importance_type='split',
           learning_rate=0.05, max_depth=9, min_child_samples=20,
           min_child_weight=0.001, min_split_gain=0.01, n_estimators=1500,
           n_jobs=-1, num_leaves=38, objective=None, random_state=None,
           reg_alpha=0.1, reg_lambda=0.1, silent=True, subsample=0.9,
           subsample_for_bin=200000, subsample_freq=0)

In [74]:
# Predict the on the train_data
test_ind_2["Pred_state_LGB_Gain"] = lgb_gain.predict(test_ind_2[features_2])

# Predict the on the train_data
train_ind_2["Pred_state_LGB_Gain"] = lgb_gain.predict(train_ind_2[features_2])

# Predict the on the train_data
df_projects_copied["Pred_state_LGB_Gain"] = lgb_gain.predict(df_projects_copied[features_2])

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [75]:
# Train and Test Accuracy
print ("Train Accuracy :: ", accuracy_score(train_dep_2[response], lgb_gain.predict(train_ind_2[features_2])))
print ("Test Accuracy  :: ", accuracy_score(test_dep_2[response], lgb_gain.predict(test_ind_2[features_2])))
print ("Complete Accuracy  :: ", accuracy_score(df_projects_copied[response], lgb_gain.predict(df_projects_copied[features_2])))
print (" Confusion matrix of complete data is", confusion_matrix(df_projects_copied[response],df_projects_copied["Pred_state_LGB_Gain"]))
print (".")

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Train Accuracy ::  0.7263406528396437

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Test Accuracy  ::  0.7016970484348991

C:\Users\tkim0\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Complete Accuracy  ::  0.7189475415027465
 Confusion matrix of complete data is [[158201  37522]
 [ 54779  77910]]

In [76]:
## Feature importances
ftr_imp_lgb_gain=zip(features_2,lgb_gain.feature_importances_)

for values in ftr_imp_lgb_gain:
    print(values)
    
# creating a dataframe to get top 15 features
ftr_imp_lgb_gain=pd.DataFrame(list(zip(features_2,lgb_gain.feature_importances_)))
column_names_lgb_gain= ['features','LGB_gain_imp']
ftr_imp_lgb_gain.columns= column_names_lgb_gain

ftr_imp_lgb_gain= ftr_imp_lgb_gain.sort_values('LGB_gain_imp',ascending=False)
ftr_imp_lgb_gain[:15]

('category', 575210.0459327698)
('main_category', 40441.560438632965)
('currency', 7292.616619586945)
('country', 49592.98641586304)
('usd_goal_real', 209559.47360658646)
('duration_days', 213522.1879386902)
('log_usd_goal', 59851.56570100784)
('name_len', 63472.83627843857)
('name_words', 74056.2430858612)
('launched_quarter', 1835.7367906570435)
('launched_month', 4986.485179901123)
('launched_year', 70614.66909790039)
('launched_week', 22563.971601486206)
('goal_cat_perc', 9299.729823589325)
('duration_cat_perc', 4735.508813858032)
('participants_qtr', 31986.143317222595)
('participants_mth', 15155.075054168701)
('participants_wk', 8736.523712158203)
('avg_ppb_goal', 27775.439732074738)
('avg_success_rate_goal', 494554.5424847603)
('avg_success_rate_duration', 80465.54461145401)
('median_goal_year', 6433.021738529205)
('mean_goal_year', 17454.838505744934)

                     features   LGB_gain_imp
0                    category  575210.045933
19      avg_success_rate_goal  494554.542485
5               duration_days  213522.187939
4               usd_goal_real  209559.473607
20  avg_success_rate_duration   80465.544611
8                  name_words   74056.243086
11              launched_year   70614.669098
7                    name_len   63472.836278
6                log_usd_goal   59851.565701
3                     country   49592.986416
1               main_category   40441.560439
15           participants_qtr   31986.143317
18               avg_ppb_goal   27775.439732
12              launched_week   22563.971601
22             mean_goal_year   17454.838506